<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransactionLog.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TransactionLog.Settings>
            <setting name="db" serializeAs="String">
                <value>D:\Open_Broker_QUIK_Junior\Lua\ProfitStop\trades.sqlite</value>
            </setting>
        </TransactionLog.Settings>
    </userSettings>
</configuration>